@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@900&display=swap');

.main-header {
  font-family: 'Big Shoulders Inline Display', cursive;
}

h1 {
  color: magenta;
 font-size: 400%;
}

h2 {
   text-decoration: underline;
}

h3 {
 font-family: cursive;
}

img {
  object-fit: cover;
  object-position: 100% 30%;
  height: 40vh;
}

p {
 font-family: inherit;
}

li {
 font-family: sans-serif;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}
